extends ../layouts/default

block js
    script(type='text/javascript', src='assets/js/plugins/ui/fullcalendar/fullcalendar.min.js')
    script(type='text/javascript', src='assets/js/core/app.js')

block left_menu
  .sidebar.sidebar-main
      .sidebar-content
        // User menu
        .sidebar-user
          .category-content
            .media
              a.media-left(href='#')
                img.img-circle.img-sm(src='assets/images/placeholder.jpg', alt='')
              .media-body
                span.media-heading.text-semibold Victoria Baker
                .text-size-mini.text-muted
                  i.icon-pin.text-size-small
                  |  &nbsp;Santa Ana, CA
              .media-right.media-middle
                ul.icons-list
                  li
                    a(href='#')
                      i.icon-cog3
        // /user menu
        // Main navigation
        .sidebar-category.sidebar-category-visible
          .category-content.no-padding
            ul.navigation.navigation-main.navigation-accordion
              // Main
              li.navigation-header
                span Main
                |  
                i.icon-menu(title='Main pages')
              li
                a(href='/')
                  i.icon-home4
                  |  
                  span Home
              li
                a(href='/contacts')
                  i.icon-users
                  |  
                  span contacts
              li
                a(href='/companies')
                  i.icon-file-text2
                  |  
                  span Companies
              li
                a(href='deals')
                  i.icon-coins
                  |  
                  span Deals
              li
                a(href='/documents')
                  i.icon-file-empty
                  |  
                  span Documents
              li.active
                a(href='/calendar')
                  i.icon-calendar
                  |  
                  span Calendar
              li
                a(href='/tasks')
                  i.icon-list
                  |  
                  span Tasks
              li
                a(href='/activities')
                  i.icon-history
                  |  
                  span Activities
              li
                a(href='/report')
                  i.icon-stats-bars3
                  |  
                  span Report
        // /main navigation
    // /main sidebar

block content
    // Main content
    .content-wrapper
      // Page header
      .page-header.page-header-default
        .page-header-content
          .page-title
            h4
              i.icon-arrow-left52.position-left
              |  
              span.text-semibold Fullcalendar
              |  - Basic Views
          .heading-elements
            .heading-btn-group
              a.btn.btn-link.btn-float.has-text(href='#')
                i.icon-bars-alt.text-primary
                span Statistics
              a.btn.btn-link.btn-float.has-text(href='#')
                i.icon-calculator.text-primary
                |  
                span Invoices
              a.btn.btn-link.btn-float.has-text(href='#')
                i.icon-calendar5.text-primary
                |  
                span Schedule
        .breadcrumb-line
          ul.breadcrumb
            li
              a(href='index.html')
                i.icon-home2.position-left
                |  Home
            li
              a(href='extension_fullcalendar_views.html') Fullcalendar
            li.active Basic views
          ul.breadcrumb-elements
            li
              a(href='#')
                i.icon-comment-discussion.position-left
                |  Support
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-gear.position-left
                span.caret
              ul.dropdown-menu.dropdown-menu-right
                li
                  a(href='#')
                    i.icon-user-lock
                    |  Account security
                li
                  a(href='#')
                    i.icon-statistics
                    |  Analytics
                li
                  a(href='#')
                    i.icon-accessibility
                    |  Accessibility
                li.divider
                li
                  a(href='#')
                    i.icon-gear
                    |  All settings
      // /page header
      // Content area
      .content
        // Basic view
        .panel.panel-flat
           .panel-heading
             h5.panel-title Basic view
             .heading-elements
               ul.icons-list
                 li
                   a(data-action='collapse')
                 li
                   a(data-action='reload')
                 li
                   a(data-action='close')
           .panel-body
             p.content-group
               | FullCalendar is a jQuery plugin that provides a full-sized, drag &amp; drop event calendar like the one below. It uses AJAX to fetch events on-the-fly and is easily configured to use your own feed format. It is visually customizable with a rich API. Example below demonstrates a default view of the calendar with a basic setup: draggable and editable events, and starting date.
             .fullcalendar-basic
         // /basic view

        // Footer
        .footer.text-muted
          | &copy; 2015. 
          a(href='#') Limitless Web App Kit
          |  by 
          a(href='http://themeforest.net/user/Kopyov', target='_blank') Eugene Kopyov
        // /footer
      // /content area
    // /main content
