extends ../layouts/default

block js
  script(type='text/javascript', src='assets/js/pages/user_pages_profile.js')

block left_menu
  .sidebar.sidebar-main
      .sidebar-content
        // User menu
        .sidebar-user
          .category-content
            .media
              a.media-left(href='#')
                img.img-circle.img-sm(src='#{data.company.image}', alt='')
              .media-body
                span.media-heading.text-semibold #{data.company.first_name} #{data.company.last_name}
                .text-size-mini.text-muted
                  i.icon-pin.text-size-small
                  |  &nbsp;Santa Ana, CA
              .media-right.media-middle
                ul.icons-list
                  li
                    a(href='#')
                      i.icon-cog3
        // /user menu
        // Main navigation
        .sidebar-category.sidebar-category-visible
          .category-content.no-padding
            ul.navigation.navigation-main.navigation-accordion
              // Main
              li.navigation-header
                span Main
                |  
                i.icon-menu(title='Main pages')
              li
                a(href='/')
                  i.icon-home4
                  |  
                  span Home
              li.active
                a(href='/companys')
                  i.icon-users
                  |  
                  span companys
              li
                a(href='/companies')
                  i.icon-file-text2
                  |  
                  span Companies
              li
                a(href='deals')
                  i.icon-coins
                  |  
                  span Deals
              li
                a(href='/documents')
                  i.icon-file-empty
                  |  
                  span Documents
              li
                a(href='/calendar')
                  i.icon-calendar
                  |  
                  span Calendar
              li
                a(href='/tasks')
                  i.icon-list
                  |  
                  span Tasks
              li
                a(href='/activities')
                  i.icon-history
                  |  
                  span Activities
              li
                a(href='/report')
                  i.icon-stats-bars3
                  |  
                  span Report
        // /main navigation
    // /main sidebar
block content
  // Main content
  .content-wrapper
    // Page header
    .page-header.page-header-default
        .page-header-content
          .page-title
            h4
              i.icon-arrow-left52.position-left
              |  
              span.text-semibold #{data.company.first_name} #{data.company.last_name}
              |  - Profile
          .heading-elements
            .heading-btn-group
              a.btn.btn-link.btn-float.has-text(href='#')
                i.icon-bars-alt.text-primary
                span Statistics
              a.btn.btn-link.btn-float.has-text(href='#')
                i.icon-calculator.text-primary
                |  
                span Invoices
              a.btn.btn-link.btn-float.has-text(href='#')
                i.icon-calendar5.text-primary
                |  
                span Schedule
        .breadcrumb-line
          ul.breadcrumb
            li
              a(href='index.html')
                i.icon-home2.position-left
                |  Home
            li
              a(href='extension_fullcalendar_views.html') #{data.company.first_name} #{data.company.last_name}
            li.active Profile
          ul.breadcrumb-elements
            li
              a(href='#')
                i.icon-comment-discussion.position-left
                |  Support
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-gear.position-left
                span.caret
              ul.dropdown-menu.dropdown-menu-right
                li
                  a(href='#')
                    i.icon-user-lock
                    |  Account security
                li
                  a(href='#')
                    i.icon-statistics
                    |  Analytics
                li
                  a(href='#')
                    i.icon-accessibility
                    |  Accessibility
                li.divider
                li
                  a(href='#')
                    i.icon-gear
                    |  All settings
    // /page header
    // Content area
    .content
      // User profile
      .row
        .col-lg-9
          .tabbable
            .tab-content
              #activity.tab-pane.fade.in.active
                // Timeline
                .timeline.timeline-left.content-group
                  .timeline-container
                    // Sales stats
                    .timeline-row
                      .timeline-icon
                        a(href='#')
                          img(src='assets/images/placeholder.jpg', alt='')
                      .panel.panel-flat.timeline-content
                        .panel-heading
                          h6.panel-title Daily statistics
                          .heading-elements
                            span.heading-text
                              i.icon-history.position-left.text-success
                              |  Updated 3 hours ago
                            ul.icons-list
                              li
                                a(data-action='reload')
                        .panel-body
                          .chart-container
                            #sales.chart.has-fixed-height
                    // /sales stats
                    // Blog post
                    .timeline-row
                      .timeline-icon
                        img(src='assets/images/placeholder.jpg', alt='')
                      .panel.panel-flat.timeline-content
                        .panel-heading
                          h6.panel-title Himalayan sunset
                          .heading-elements
                            span.heading-text
                              i.icon-checkmark-circle.position-left.text-success
                              |  49 minutes ago
                            ul.icons-list
                              li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown')
                                  i.icon-arrow-down12
                                ul.dropdown-menu.dropdown-menu-right
                                  li
                                    a(href='#')
                                      i.icon-user-lock
                                      |  Hide user posts
                                  li
                                    a(href='#')
                                      i.icon-user-block
                                      |  Block user
                                  li
                                    a(href='#')
                                      i.icon-user-minus
                                      |  Unfollow user
                                  li.divider
                                  li
                                    a(href='#')
                                      i.icon-embed
                                      |  Embed post
                                  li
                                    a(href='#')
                                      i.icon-blocked
                                      |  Report this post
                        .panel-body
                          a.display-block.content-group(href='#')
                            img.img-responsive.content-group(src='assets/images/cover.jpg', alt='')
                          h6.content-group
                            i.icon-comment-discussion.position-left
                            a(href='#') Jason Ansley
                            | :
                          blockquote
                            p
                              | When suspiciously goodness labrador understood rethought yawned grew piously endearingly inarticulate oh goodness jeez trout distinct hence cobra despite taped laughed the much audacious less inside tiger groaned darn stuffily metaphoric unihibitedly inside cobra.
                            footer
                              | Jason, 
                              cite(title='Source Title') 10:39 am
                        .panel-footer.panel-footer-transparent
                          .heading-elements
                            ul.list-inline.list-inline-condensed.heading-text
                              li
                                a.text-default(href='#')
                                  i.icon-eye4.position-left
                                  |  438
                              li
                                a.text-default(href='#')
                                  i.icon-comment-discussion.position-left
                                  |  71
                            span.heading-btn.pull-right
                              a.btn.btn-link(href='#')
                                | Read post 
                                i.icon-arrow-right14.position-right
                    // /blog post
                    // Date stamp
                    .timeline-date.text-muted
                      i.icon-history.position-left
                      |  
                      span.text-semibold Monday
                      | , April 18
                    // /date stamp
                    // Invoices
                    .timeline-row
                      .timeline-icon
                        .bg-warning-400
                          i.icon-cash3
                      .row
                        .col-lg-6
                          .panel.border-left-lg.border-left-danger.invoice-grid.timeline-content
                            .panel-body
                              .row
                                .col-sm-6
                                  h6.text-semibold.no-margin-top Leonardo Fellini
                                  ul.list.list-unstyled
                                    li Invoice #: &nbsp;0028
                                    li
                                      | Issued on: 
                                      span.text-semibold 2015/01/25
                                .col-sm-6
                                  h6.text-semibold.text-right.no-margin-top $8,750
                                  ul.list.list-unstyled.text-right
                                    li
                                      | Method: 
                                      span.text-semibold SWIFT
                                    li.dropdown
                                      | Status: &nbsp;
                                      a.label.bg-danger-400.dropdown-toggle(href='#', data-toggle='dropdown')
                                        | Overdue 
                                        span.caret
                                      ul.dropdown-menu.dropdown-menu-right
                                        li.active
                                          a(href='#')
                                            i.icon-alert
                                            |  Overdue
                                        li
                                          a(href='#')
                                            i.icon-alarm
                                            |  Pending
                                        li
                                          a(href='#')
                                            i.icon-checkmark3
                                            |  Paid
                                        li.divider
                                        li
                                          a(href='#')
                                            i.icon-spinner2.spinner
                                            |  On hold
                                        li
                                          a(href='#')
                                            i.icon-cross2
                                            |  Canceled
                            .panel-footer.panel-footer-condensed
                              .heading-elements
                                span.heading-text
                                  span.status-mark.border-danger.position-left
                                  |  Due: 
                                  span.text-semibold 2015/02/25
                                ul.list-inline.list-inline-condensed.heading-text.pull-right
                                  li
                                    a.text-default(href='#', data-toggle='modal', data-target='#invoice')
                                      i.icon-eye8
                                  li.dropdown
                                    a.text-default.dropdown-toggle(href='#', data-toggle='dropdown')
                                      i.icon-menu7
                                      |  
                                      span.caret
                                    ul.dropdown-menu.dropdown-menu-right
                                      li
                                        a(href='#')
                                          i.icon-printer
                                          |  Print invoice
                                      li
                                        a(href='#')
                                          i.icon-file-download
                                          |  Download invoice
                                      li.divider
                                      li
                                        a(href='#')
                                          i.icon-file-plus
                                          |  Edit invoice
                                      li
                                        a(href='#')
                                          i.icon-cross2
                                          |  Remove invoice
                        .col-lg-6
                          .panel.border-left-lg.border-left-success.invoice-grid.timeline-content
                            .panel-body
                              .row
                                .col-sm-6
                                  h6.text-semibold.no-margin-top Rebecca Manes
                                  ul.list.list-unstyled
                                    li Invoice #: &nbsp;0027
                                    li
                                      | Issued on: 
                                      span.text-semibold 2015/02/24
                                .col-sm-6
                                  h6.text-semibold.text-right.no-margin-top $5,100
                                  ul.list.list-unstyled.text-right
                                    li
                                      | Method: 
                                      span.text-semibold Paypal
                                    li.dropdown
                                      | Status: &nbsp;
                                      a.label.bg-success-400.dropdown-toggle(href='#', data-toggle='dropdown')
                                        | Paid 
                                        span.caret
                                      ul.dropdown-menu.dropdown-menu-right
                                        li
                                          a(href='#')
                                            i.icon-alert
                                            |  Overdue
                                        li
                                          a(href='#')
                                            i.icon-alarm
                                            |  Pending
                                        li.active
                                          a(href='#')
                                            i.icon-checkmark3
                                            |  Paid
                                        li.divider
                                        li
                                          a(href='#')
                                            i.icon-spinner2.spinner
                                            |  On hold
                                        li
                                          a(href='#')
                                            i.icon-cross2
                                            |  Canceled
                            .panel-footer.panel-footer-condensed
                              .heading-elements
                                span.heading-text
                                  span.status-mark.border-success.position-left
                                  |  Due: 
                                  span.text-semibold 2015/03/24
                                ul.list-inline.list-inline-condensed.heading-text.pull-right
                                  li
                                    a.text-default(href='#', data-toggle='modal', data-target='#invoice')
                                      i.icon-eye8
                                  li.dropdown
                                    a.text-default.dropdown-toggle(href='#', data-toggle='dropdown')
                                      i.icon-menu7
                                      |  
                                      span.caret
                                    ul.dropdown-menu.dropdown-menu-right
                                      li
                                        a(href='#')
                                          i.icon-printer
                                          |  Print invoice
                                      li
                                        a(href='#')
                                          i.icon-file-download
                                          |  Download invoice
                                      li.divider
                                      li
                                        a(href='#')
                                          i.icon-file-plus
                                          |  Edit invoice
                                      li
                                        a(href='#')
                                          i.icon-cross2
                                          |  Remove invoice
                    // /invoices
                    // Messages
                    .timeline-row
                      .timeline-icon
                        .bg-info-400
                          i.icon-comment-discussion
                      .panel.panel-flat.timeline-content
                        .panel-heading
                          h6.panel-title Conversation with James
                          .heading-elements
                            ul.icons-list
                              li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown')
                                  i.icon-circle-down2
                                ul.dropdown-menu.dropdown-menu-right
                                  li
                                    a(href='#')
                                      i.icon-user-lock
                                      |  Hide user posts
                                  li
                                    a(href='#')
                                      i.icon-user-block
                                      |  Block user
                                  li
                                    a(href='#')
                                      i.icon-user-minus
                                      |  Unfollow user
                                  li.divider
                                  li
                                    a(href='#')
                                      i.icon-embed
                                      |  Embed post
                                  li
                                    a(href='#')
                                      i.icon-blocked
                                      |  Report this post
                        .panel-body
                          ul.media-list.chat-list.content-group
                            li.media.date-step
                              span Today
                            li.media.reversed
                              .media-body
                                .media-content
                                  | Thus superb the tapir the wallaby blank frog execrably much since dalmatian by in hot. Uninspiringly arose mounted stared one curt safe
                                span.media-annotation.display-block.mt-10
                                  | Tue, 8:12 am 
                                  a(href='#')
                                    i.icon-pin-alt.position-right.text-muted
                              .media-right
                                a(href='assets/images/placeholder.jpg')
                                  img.img-circle(src='assets/images/placeholder.jpg', alt='')
                            li.media
                              .media-left
                                a(href='assets/images/placeholder.jpg')
                                  img.img-circle(src='assets/images/placeholder.jpg', alt='')
                              .media-body
                                .media-content
                                  | Tolerantly some understood this stubbornly after snarlingly frog far added insect into snorted more auspiciously heedless drunkenly jeez foolhardy oh.
                                span.media-annotation.display-block.mt-10
                                  | Wed, 4:20 pm 
                                  a(href='#')
                                    i.icon-pin-alt.position-right.text-muted
                            li.media.reversed
                              .media-body
                                .media-content
                                  | Satisfactorily strenuously while sleazily dear frustratingly insect menially some shook far sardonic badger telepathic much jeepers immature much hey.
                                span.media-annotation.display-block.mt-10
                                  | 2 hours ago 
                                  a(href='#')
                                    i.icon-pin-alt.position-right.text-muted
                              .media-right
                                a(href='assets/images/placeholder.jpg')
                                  img.img-circle(src='assets/images/placeholder.jpg', alt='')
                            li.media
                              .media-left
                                a(href='assets/images/placeholder.jpg')
                                  img.img-circle(src='assets/images/placeholder.jpg', alt='')
                              .media-body
                                .media-content
                                  | Grunted smirked and grew less but rewound much despite and impressive via alongside out and gosh easy manatee dear ineffective yikes.
                                span.media-annotation.display-block.mt-10
                                  | 13 minutes ago 
                                  a(href='#')
                                    i.icon-pin-alt.position-right.text-muted
                            li.media.reversed
                              .media-body
                                .media-content
                                  i.icon-menu.display-block
                              .media-right
                                a(href='assets/images/placeholder.jpg')
                                  img.img-circle(src='assets/images/placeholder.jpg', alt='')
                          textarea.form-control.content-group(name='enter-message', rows='3', cols='1', placeholder='Enter your message...')
                          .row
                            .col-xs-6
                              ul.icons-list.icons-list-extended.mt-10
                                li
                                  a(href='#', data-popup='tooltip', title='Send photo', data-container='body')
                                    i.icon-file-picture
                                li
                                  a(href='#', data-popup='tooltip', title='Send video', data-container='body')
                                    i.icon-file-video
                                li
                                  a(href='#', data-popup='tooltip', title='Send file', data-container='body')
                                    i.icon-file-plus
                            .col-xs-6.text-right
                              button.btn.bg-teal-400.btn-labeled.btn-labeled-right(type='button')
                                b
                                  i.icon-circle-right2
                                |  Send
                    // /messages
                    // Video posts
                    .timeline-row
                      .timeline-icon
                        img(src='assets/images/placeholder.jpg', alt='')
                      .row
                        .col-lg-6
                          .panel.panel-flat.timeline-content
                            .panel-heading
                              h6.panel-title Woodturner master
                              .heading-elements
                                span.heading-text
                                  i.icon-checkmark-circle.position-left.text-success
                                  |  Yesterday, 7:52 am
                                ul.icons-list
                                  li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                      i.icon-arrow-down12
                                    ul.dropdown-menu.dropdown-menu-right
                                      li
                                        a(href='#')
                                          i.icon-user-lock
                                          |  Hide user posts
                                      li
                                        a(href='#')
                                          i.icon-user-block
                                          |  Block user
                                      li
                                        a(href='#')
                                          i.icon-user-minus
                                          |  Unfollow user
                                      li.divider
                                      li
                                        a(href='#')
                                          i.icon-embed
                                          |  Embed post
                                      li
                                        a(href='#')
                                          i.icon-blocked
                                          |  Report this post
                            .panel-body
                              .video-container.content-group
                                iframe(allowfullscreen='', frameborder='0', mozallowfullscreen='', src='https://player.vimeo.com/video/126545288?title=0&byline=0&portrait=0', webkitallowfullscreen='')
                            .panel-footer.panel-footer-transparent
                              .heading-elements
                                ul.list-inline.list-inline-condensed.heading-text
                                  li
                                    a.text-default(href='#')
                                      i.icon-eye4.position-left
                                      |  285
                                  li
                                    a.text-default(href='#')
                                      i.icon-comment-discussion.position-left
                                      |  12
                                span.heading-btn.pull-right
                                  a.btn.btn-link(href='#')
                                    | Read post 
                                    i.icon-arrow-right14.position-right
                        .col-lg-6
                          .panel.panel-flat.timeline-content
                            .panel-heading
                              h6.panel-title
                                i.icon-comment-discussion.position-left
                                |  
                                a(href='#') Jason
                                |  commented:
                              .heading-elements
                                ul.icons-list
                                  li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                      i.icon-arrow-down12
                                    ul.dropdown-menu.dropdown-menu-right
                                      li
                                        a(href='#')
                                          i.icon-user-lock
                                          |  Hide user posts
                                      li
                                        a(href='#')
                                          i.icon-user-block
                                          |  Block user
                                      li
                                        a(href='#')
                                          i.icon-user-minus
                                          |  Unfollow user
                                      li.divider
                                      li
                                        a(href='#')
                                          i.icon-embed
                                          |  Embed post
                                      li
                                        a(href='#')
                                          i.icon-blocked
                                          |  Report this post
                            .panel-body
                              .video-container.content-group
                                iframe(allowfullscreen='', frameborder='0', mozallowfullscreen='', src='https://player.vimeo.com/video/133217402?title=0&byline=0&portrait=0', webkitallowfullscreen='')
                              blockquote
                                p
                                  | When suspiciously goodness labrador understood rethought yawned grew piously endearingly inarticulate oh goodness jeez trout distinct hence cobra.
                                footer
                                  | Jason, 
                                  cite(title='Source Title') 10:39 am
                    // /video posts
                // /timeline
              #schedule.tab-pane.fade
                // Available hours
                .panel.panel-flat
                  .panel-heading
                    h6.panel-title Available hours
                    .heading-elements
                      ul.icons-list
                        li
                          a(data-action='collapse')
                        li
                          a(data-action='reload')
                        li
                          a(data-action='close')
                  .panel-body
                    .chart-container
                      #plans.chart.has-fixed-height
                // /available hours
                // Calendar
                .panel.panel-flat
                  .panel-heading
                    h6.panel-title My schedule
                    .heading-elements
                      ul.icons-list
                        li
                          a(data-action='collapse')
                        li
                          a(data-action='reload')
                        li
                          a(data-action='close')
                  .panel-body
                    .schedule
                // /calendar
              #settings.tab-pane.fade
                // Profile info
                .panel.panel-flat
                  .panel-heading
                    h6.panel-title Profile information
                    .heading-elements
                      ul.icons-list
                        li
                          a(data-action='collapse')
                        li
                          a(data-action='reload')
                        li
                          a(data-action='close')
                  .panel-body
                    form(action='#')
                      .form-group
                        .row
                          .col-md-6
                            label Username
                            input.form-control(type='text', value='Eugene')
                          .col-md-6
                            label Full name
                            input.form-control(type='text', value='Kopyov')
                      .form-group
                        .row
                          .col-md-6
                            label Address line 1
                            input.form-control(type='text', value='Ring street 12')
                          .col-md-6
                            label Address line 2
                            input.form-control(type='text', value='building D, flat #67')
                      .form-group
                        .row
                          .col-md-4
                            label City
                            input.form-control(type='text', value='Munich')
                          .col-md-4
                            label State/Province
                            input.form-control(type='text', value='Bayern')
                          .col-md-4
                            label ZIP code
                            input.form-control(type='text', value='1031')
                      .form-group
                        .row
                          .col-md-6
                            label Email
                            input.form-control(type='text', readonly='readonly', value='eugene@kopyov.com')
                          .col-md-6
                            label Your country
                            select.select
                              option(value='germany', selected='selected') Germany
                              |  
                              option(value='france') France
                              |  
                              option(value='spain') Spain
                              |  
                              option(value='netherlands') Netherlands
                              |  
                              option(value='other') ...
                              |  
                              option(value='uk') United Kingdom
                      .form-group
                        .row
                          .col-md-6
                            label Phone #
                            input.form-control(type='text', value='+99-99-9999-9999')
                            span.help-block +99-99-9999-9999
                          .col-md-6
                            label.display-block Upload profile image
                            input.file-styled(type='file')
                            span.help-block Accepted formats: gif, png, jpg. Max file size 2Mb
                      .text-right
                        button.btn.btn-primary(type='submit')
                          | Save 
                          i.icon-arrow-right14.position-right
                // /profile info
                // Account settings
                .panel.panel-flat
                  .panel-heading
                    h6.panel-title Account settings
                    .heading-elements
                      ul.icons-list
                        li
                          a(data-action='collapse')
                        li
                          a(data-action='reload')
                        li
                          a(data-action='close')
                  .panel-body
                    form(action='#')
                      .form-group
                        .row
                          .col-md-6
                            label Username
                            input.form-control(type='text', value='Kopyov', readonly='readonly')
                          .col-md-6
                            label Current password
                            input.form-control(type='password', value='password', readonly='readonly')
                      .form-group
                        .row
                          .col-md-6
                            label New password
                            input.form-control(type='password', placeholder='Enter new password')
                          .col-md-6
                            label Repeat password
                            input.form-control(type='password', placeholder='Repeat new password')
                      .form-group
                        .row
                          .col-md-6
                            label Profile visibility
                            .radio
                              label
                                input.styled(type='radio', name='visibility', checked='checked')
                            .radio
                              label
                                input.styled(type='radio', name='visibility')
                            .radio
                              label
                                input.styled(type='radio', name='visibility')
                            .radio
                              label
                                input.styled(type='radio', name='visibility')
                          .col-md-6
                            label Notifications
                            .checkbox
                              label
                                input.styled(type='checkbox', checked='checked')
                            .checkbox
                              label
                                input.styled(type='checkbox', checked='checked')
                            .checkbox
                              label
                                input.styled(type='checkbox', checked='checked')
                            .checkbox
                              label
                                input.styled(type='checkbox')
                      .text-right
                        button.btn.btn-primary(type='submit')
                          | Save 
                          i.icon-arrow-right14.position-right
                // /account settings
        .col-lg-3
          // User thumbnail
          .thumbnail
            .thumb.thumb-rounded.thumb-slide
              img(src='assets/images/placeholder.jpg', alt='')
              .caption
                span
                  a.btn.bg-success-400.btn-icon.btn-xs(href='#', data-popup='lightbox')
                    i.icon-plus2
                  a.btn.bg-success-400.btn-icon.btn-xs(href='user_pages_profile.html')
                    i.icon-link
            .caption.text-center
              h6.text-semibold.no-margin
                | #{data.company.first_name} #{data.company.last_name}
                small.display-block #{data.company.company}
              ul.icons-list.mt-15
                li
                  a(href='#', data-popup='tooltip', title='Google Drive')
                    i.icon-google-drive
                li
                  a(href='#', data-popup='tooltip', title='Twitter')
                    i.icon-twitter
                li
                  a(href='#', data-popup='tooltip', title='Github')
                    i.icon-github
          // /user thumbnail
          // Navigation
          .panel.panel-flat
            .panel-heading
              h6.panel-title Navigation
              .heading-elements
                a.heading-text(href='#') See all &rarr;
            .list-group.no-border.no-padding-top
              a.list-group-item(href='#')
                i.icon-user
                |  My profile
              a.list-group-item(href='#')
                i.icon-cash3
                |  Balance
              a.list-group-item(href='#')
                i.icon-tree7
                |  Connections 
                span.badge.bg-danger.pull-right 29
              a.list-group-item(href='#')
                i.icon-users
                |  Friends
              .list-group-divider
              a.list-group-item(href='#')
                i.icon-calendar3
                |  Events 
                span.badge.bg-teal-400.pull-right 48
              a.list-group-item(href='#')
                i.icon-cog3
                |  Account settings
          // /navigation
          // Share your thoughts
          .panel.panel-flat
            .panel-heading
              h6.panel-title Share your thoughts
              .heading-elements
                ul.icons-list
                  li
                    a(data-action='close')
            .panel-body
              form(action='#')
                .form-group
                  textarea.form-control.mb-15(name='enter-message', rows='3', cols='1', placeholder="What's on your mind?")
                .row
                  .col-sm-6
                    ul.icons-list.icons-list-extended.mt-10
                      li
                        a(href='#', data-popup='tooltip', title='Add photo', data-container='body')
                          i.icon-images2
                      li
                        a(href='#', data-popup='tooltip', title='Add video', data-container='body')
                          i.icon-film2
                      li
                        a(href='#', data-popup='tooltip', title='Add event', data-container='body')
                          i.icon-calendar2
                  .col-sm-6.text-right
                    button.btn.btn-primary.btn-labeled.btn-labeled-right(type='button')
                      | Share 
                      b
                        i.icon-circle-right2
          // /share your thoughts
          // Balance chart
          .panel.panel-flat
            .panel-heading
              h6.panel-title Balance changes
              .heading-elements
                span.heading-text
                  i.icon-arrow-down22.text-danger
                  |  
                  span.text-semibold - 29.4%
            .panel-body
              .chart-container
                #visits.chart(style='height: 300px;')
          // /balance chart
          // Connections
          .panel.panel-flat
            .panel-heading
              h6.panel-title Latest connections
              .heading-elements
                span.badge.badge-success.heading-text +32
            ul.media-list.media-list-linked.pb-5
              li.media-header Office staff
              li.media
                a.media-link(href='#')
                  .media-left
                    img.img-circle(src='assets/images/placeholder.jpg', alt='')
                  .media-body
                    span.media-heading.text-semibold James Alexander
                    span.media-annotation UI/UX expert
                  .media-right.media-middle
                    span.status-mark.bg-success
              li.media
                a.media-link(href='#')
                  .media-left
                    img.img-circle(src='assets/images/placeholder.jpg', alt='')
                  .media-body
                    span.media-heading.text-semibold Jeremy Victorino
                    span.media-annotation Senior designer
                  .media-right.media-middle
                    span.status-mark.bg-danger
              li.media
                a.media-link(href='#')
                  .media-left
                    img.img-circle(src='assets/images/placeholder.jpg', alt='')
                  .media-body
                    .media-heading
                      span.text-semibold Jordana Mills
                    span.text-muted Sales consultant
                  .media-right.media-middle
                    span.status-mark.bg-grey-300
              li.media
                a.media-link(href='#')
                  .media-left
                    img.img-circle(src='assets/images/placeholder.jpg', alt='')
                  .media-body
                    .media-heading
                      span.text-semibold William Miles
                    span.text-muted SEO expert
                  .media-right.media-middle
                    span.status-mark.bg-success
              li.media-header Partners
              li.media
                a.media-link(href='#')
                  .media-left
                    img.img-circle(src='assets/images/placeholder.jpg', alt='')
                  .media-body
                    span.media-heading.text-semibold Margo Baker
                    span.media-annotation Google
                  .media-right.media-middle
                    span.status-mark.bg-success
              li.media
                a.media-link(href='#')
                  .media-left
                    img.img-circle(src='assets/images/placeholder.jpg', alt='')
                  .media-body
                    span.media-heading.text-semibold Beatrix Diaz
                    span.media-annotation Facebook
                  .media-right.media-middle
                    span.status-mark.bg-warning-400
              li.media
                a.media-link(href='#')
                  .media-left
                    img.img-circle(src='assets/images/placeholder.jpg', alt='')
                  .media-body
                    span.media-heading.text-semibold Richard Vango
                    span.media-annotation Microsoft
                  .media-right.media-middle
                    span.status-mark.bg-grey-300
          // /connections
      // /user profile
      // Footer
      .footer.text-muted
        | &copy; 2015. 
        a(href='#') Limitless Web App Kit
        |  by 
        a(href='http://themeforest.net/user/Kopyov', target='_blank') Eugene Kopyov
      // /footer
    // /content area