extends ../layouts/default

black js
  script(type='text/javascript', src='assets/js/plugins/forms/styling/switchery.min.js')
  script(type='text/javascript', src='assets/js/plugins/forms/selects/select2.min.js')
  script(type='text/javascript', src='assets/js/pages/datatables_basic.js')

block left_menu
  .sidebar.sidebar-main
      .sidebar-content
        // User menu
        .sidebar-user
          .category-content
            .media
              a.media-left(href='#')
                img.img-circle.img-sm(src='assets/images/placeholder.jpg', alt='')
              .media-body
                span.media-heading.text-semibold Victoria Baker
                .text-size-mini.text-muted
                  i.icon-pin.text-size-small
                  |  &nbsp;Santa Ana, CA
              .media-right.media-middle
                ul.icons-list
                  li
                    a(href='#')
                      i.icon-cog3
        // /user menu
        // Main navigation
        .sidebar-category.sidebar-category-visible
          .category-content.no-padding
            ul.navigation.navigation-main.navigation-accordion
              // Main
              li.navigation-header
                span Main
                |  
                i.icon-menu(title='Main pages')
              li
                a(href='/')
                  i.icon-home4
                  |  
                  span Home
              li.active
                a(href='/contacts')
                  i.icon-users
                  |  
                  span contacts
              li
                a(href='/companies')
                  i.icon-file-text2
                  |  
                  span Companies
              li
                a(href='deals')
                  i.icon-coins
                  |  
                  span Deals
              li
                a(href='/documents')
                  i.icon-file-empty
                  |  
                  span Documents
              li
                a(href='/calendar')
                  i.icon-calendar
                  |  
                  span Calendar
              li
                a(href='/tasks')
                  i.icon-list
                  |  
                  span Tasks
              li
                a(href='/activities')
                  i.icon-history
                  |  
                  span Activities
              li
                a(href='/report')
                  i.icon-stats-bars3
                  |  
                  span Report
        // /main navigation
    // /main sidebar

block content
    // Main content
    .content-wrapper
      // Page header
      .page-header.page-header-default
        .page-header-content
          .page-title
            h4
              i.icon-arrow-left52.position-left
              |  
              span.text-semibold Tasks
          .heading-elements
            .heading-btn-group
              a.btn.btn-link.btn-float.has-text(href='#')
                i.icon-bars-alt.text-primary
                span Statistics
              a.btn.btn-link.btn-float.has-text(href='#')
                i.icon-calculator.text-primary
                |  
                span Invoices
              a.btn.btn-link.btn-float.has-text(href='#')
                i.icon-calendar5.text-primary
                |  
                span Schedule
        .breadcrumb-line
          ul.breadcrumb
            li
              a(href='index.html')
                i.icon-home2.position-left
                |  Home
            li.active Contacts
          ul.breadcrumb-elements
            li
              a(href='#')
                i.icon-comment-discussion.position-left
                |  Support
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-gear.position-left
                span.caret
              ul.dropdown-menu.dropdown-menu-right
                li
                  a(href='#')
                    i.icon-user-lock
                    |  Account security
                li
                  a(href='#')
                    i.icon-statistics
                    |  Analytics
                li
                  a(href='#')
                    i.icon-accessibility
                    |  Accessibility
                li.divider
                li
                  a(href='#')
                    i.icon-gear
                    |  All settings
      // /page header
      // Content area
      .content
        .panel.panel-flat
         .panel-heading
          h5.panel-title Contacts
          .heading-elements
            ul.icons-list
              li
                a(data-action='collapse')
              li
                a(data-action='reload')
              li
                a(data-action='close')
         table.table.datatable-basic.table-hover
          thead
            tr
              th First Name
              th Last Name
              th Company
              th Tags
              th Lead Score
              th.text-center Actions
          tbody
            if data.contacts
              each contact in data.contacts.results
                tr
                  td 
                    a(href='/profile#{contact.id}') #{contact.first_name}
                  td 
                    //a(href='/')  #{contact.last_name} 
                   
                  td Traffic Court Referee
                  td
                    span.label.label-table.label-success Sample contact 
                  td 55465
                  td.text-center
                    ul.icons-list
                      li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                          i.icon-menu9
                        ul.dropdown-menu.dropdown-menu-right
                          li
                            a(href='#')
                              i.icon-file-pdf
                              |  Export to .pdf
                          li
                            a(href='#')
                              i.icon-file-excel
                              |  Export to .csv
                          li
                            a(href='#')
                              i.icon-file-word
                              |  Export to .doc

