extends ../layouts/default

block js
    script(type='text/javascript', src='assets/js/plugins/forms/styling/switchery.min.js')
    script(type='text/javascript', src='assets/js/pages/tasks_grid.js')

block left_menu
  .sidebar.sidebar-main
      .sidebar-content
        // User menu
        .sidebar-user
          .category-content
            .media
              a.media-left(href='#')
                img.img-circle.img-sm(src='assets/images/placeholder.jpg', alt='')
              .media-body
                span.media-heading.text-semibold Victoria Baker
                .text-size-mini.text-muted
                  i.icon-pin.text-size-small
                  |  &nbsp;Santa Ana, CA
              .media-right.media-middle
                ul.icons-list
                  li
                    a(href='#')
                      i.icon-cog3
        // /user menu
        // Main navigation
        .sidebar-category.sidebar-category-visible
          .category-content.no-padding
            ul.navigation.navigation-main.navigation-accordion
              // Main
              li.navigation-header
                span Main
                |  
                i.icon-menu(title='Main pages')
              li
                a(href='/')
                  i.icon-home4
                  |  
                  span Home
              li
                a(href='/contacts')
                  i.icon-users
                  |  
                  span contacts
              li
                a(href='/companies')
                  i.icon-file-text2
                  |  
                  span Companies
              li
                a(href='deals')
                  i.icon-coins
                  |  
                  span Deals
              li.active
                a(href='/documents')
                  i.icon-file-empty
                  |  
                  span Documents
              li
                a(href='/calendar')
                  i.icon-calendar
                  |  
                  span Calendar
              li
                a(href='/tasks')
                  i.icon-list
                  |  
                  span Tasks
              li
                a(href='/activities')
                  i.icon-history
                  |  
                  span Activities
              li
                a(href='/report')
                  i.icon-stats-bars3
                  |  
                  span Report
        // /main navigation
    // /main sidebar

block content
    // Main content
    .content-wrapper
      // Page header
      .page-header.page-header-default
        .page-header-content
          .page-title
            h4
              i.icon-arrow-left52.position-left
              |  
              span.text-semibold Tasks
          .heading-elements
            .heading-btn-group
              a.btn.btn-link.btn-float.has-text(href='#')
                i.icon-bars-alt.text-primary
                span Statistics
              a.btn.btn-link.btn-float.has-text(href='#')
                i.icon-calculator.text-primary
                |  
                span Invoices
              a.btn.btn-link.btn-float.has-text(href='#')
                i.icon-calendar5.text-primary
                |  
                span Schedule
        .breadcrumb-line
          ul.breadcrumb
            li
              a(href='index.html')
                i.icon-home2.position-left
                |  Home
            li
              a(href='') Task Maanager
            li.active Tasks
          ul.breadcrumb-elements
            li
              a(href='#')
                i.icon-comment-discussion.position-left
                |  Support
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-gear.position-left
                span.caret
              ul.dropdown-menu.dropdown-menu-right
                li
                  a(href='#')
                    i.icon-user-lock
                    |  Account security
                li
                  a(href='#')
                    i.icon-statistics
                    |  Analytics
                li
                  a(href='#')
                    i.icon-accessibility
                    |  Accessibility
                li.divider
                li
                  a(href='#')
                    i.icon-gear
                    |  All settings
      // /page header
      // Content area
      .content
        .panel.panel-flat
         .panel-heading
          h5.panel-title Multiple files
          .heading-elements
            ul.icons-list
              li
                a(data-action='collapse')
              li
                a(data-action='reload')
              li
                a(data-action='close')
         .panel-body
          p.content-group
            | Example of a 
            code multiple
            |  file uploader based on 
            code Dropzone.js
            |  library. Dropzone.js is a light weight JavaScript library that turns an HTML element into a dropzone. This means that a user can drag and drop a file onto it, and the file gets uploaded to the server via AJAX. By default Dropzone is a multiple file uploader, so this example is a basic setup. Uploading process runs automatically and image thumbnail previews are shown right after file selection.
          p.text-semibold Multiple file upload example:
          form#dropzone_multiple.dropzone(action='#')
      // /multiple file upload
