extends ../layouts/default

block js
    script(type='text/javascript', src='assets/js/plugins/forms/styling/switchery.min.js')
    script(type='text/javascript', src='assets/js/pages/tasks_grid.js')

block left_menu
  .sidebar.sidebar-main
      .sidebar-content
        // User menu
        .sidebar-user
          .category-content
            .media
              a.media-left(href='#')
                img.img-circle.img-sm(src='assets/images/placeholder.jpg', alt='')
              .media-body
                span.media-heading.text-semibold Victoria Baker
                .text-size-mini.text-muted
                  i.icon-pin.text-size-small
                  |  &nbsp;Santa Ana, CA
              .media-right.media-middle
                ul.icons-list
                  li
                    a(href='#')
                      i.icon-cog3
        // /user menu
        // Main navigation
        .sidebar-category.sidebar-category-visible
          .category-content.no-padding
            ul.navigation.navigation-main.navigation-accordion
              // Main
              li.navigation-header
                span Main
                |  
                i.icon-menu(title='Main pages')
              li
                a(href='/')
                  i.icon-home4
                  |  
                  span Home
              li
                a(href='/contacts')
                  i.icon-users
                  |  
                  span contacts
              li
                a(href='/companies')
                  i.icon-file-text2
                  |  
                  span Companies
              li
                a(href='deals')
                  i.icon-coins
                  |  
                  span Deals
              li
                a(href='/documents')
                  i.icon-file-empty
                  |  
                  span Documents
              li
                a(href='/calendar')
                  i.icon-calendar
                  |  
                  span Calendar
              li.active
                a(href='/tasks')
                  i.icon-list
                  |  
                  span Tasks
              li
                a(href='/activities')
                  i.icon-history
                  |  
                  span Activities
              li
                a(href='/report')
                  i.icon-stats-bars3
                  |  
                  span Report
        // /main navigation
    // /main sidebar

block content
    // Main content
    .content-wrapper
      // Page header
      .page-header.page-header-default
        .page-header-content
          .page-title
            h4
              i.icon-arrow-left52.position-left
              |  
              span.text-semibold Tasks
          .heading-elements
            .heading-btn-group
              a.btn.btn-link.btn-float.has-text(href='#')
                i.icon-bars-alt.text-primary
                span Statistics
              a.btn.btn-link.btn-float.has-text(href='#')
                i.icon-calculator.text-primary
                |  
                span Invoices
              a.btn.btn-link.btn-float.has-text(href='#')
                i.icon-calendar5.text-primary
                |  
                span Schedule
        .breadcrumb-line
          ul.breadcrumb
            li
              a(href='index.html')
                i.icon-home2.position-left
                |  Home
            li
              a(href='') Task Maanager
            li.active Tasks
          ul.breadcrumb-elements
            li
              a(href='#')
                i.icon-comment-discussion.position-left
                |  Support
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-gear.position-left
                span.caret
              ul.dropdown-menu.dropdown-menu-right
                li
                  a(href='#')
                    i.icon-user-lock
                    |  Account security
                li
                  a(href='#')
                    i.icon-statistics
                    |  Analytics
                li
                  a(href='#')
                    i.icon-accessibility
                    |  Accessibility
                li.divider
                li
                  a(href='#')
                    i.icon-gear
                    |  All settings
      // /page header
      // Content area
      .content
       .container-detached
        .content-detached
          // Tasks options
          .navbar.navbar-default.navbar-xs.navbar-component
            ul.nav.navbar-nav.no-border.visible-xs-block
              li
                a.text-center.collapsed(data-toggle='collapse', data-target='#navbar-filter')
                  i.icon-menu7
            #navbar-filter.navbar-collapse.collapse
              p.navbar-text Filter:
              ul.nav.navbar-nav
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.icon-sort-time-asc.position-left
                    |  By date 
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Show all
                    li.divider
                    li
                      a(href='#') Today
                    li
                      a(href='#') Yesterday
                    li
                      a(href='#') This week
                    li
                      a(href='#') This month
                    li
                      a(href='#') This year
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.icon-sort-amount-desc.position-left
                    |  By status 
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Show all
                    li.divider
                    li
                      a(href='#') Open
                    li
                      a(href='#') On hold
                    li
                      a(href='#') Resolved
                    li
                      a(href='#') Closed
                    li
                      a(href='#') Dublicate
                    li
                      a(href='#') Invalid
                    li
                      a(href='#') Wontfix
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.icon-sort-numeric-asc.position-left
                    |  By priority 
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Show all
                    li.divider
                    li
                      a(href='#') Highest
                    li
                      a(href='#') High
                    li
                      a(href='#') Normal
                    li
                      a(href='#') Low
              .navbar-right
                p.navbar-text View mode:
                form.navbar-form.navbar-left(action='#')
                  .form-group
                    label.checkbox-inline.switchery-double.checkbox-switchery.switchery-xs
                      | List
                      input.switch-mode(type='checkbox', checked='checked')
          // /tasks options
          // Tasks grid
          .text-center.content-group.text-muted.content-divider
            span.pt-10.pb-10 2 hours ago
          .row
            .col-md-6
              .panel.border-left-lg.border-left-primary
                .panel-body
                  .row
                    .col-md-8
                      h6.no-margin-top
                        a(href='task_manager_detailed.html') #24. Create UI design model
                      p.mb-15 One morning, when Gregor Samsa woke from troubled..
                      a(href='#')
                        img.img-circle.img-xs(src='assets/images/placeholder.jpg', alt='')
                      a(href='#')
                        img.img-circle.img-xs(src='assets/images/placeholder.jpg', alt='')
                      a(href='#')
                        img.img-circle.img-xs(src='assets/images/placeholder.jpg', alt='')
                      a.text-default(href='#')
                        i.icon-plus22
                    .col-md-4
                      ul.list.task-details
                        li 28 January, 2015
                        li.dropdown
                          | Priority: &nbsp; 
                          a.label.label-primary.dropdown-toggle(href='#', data-toggle='dropdown')
                            | Normal 
                            span.caret
                          ul.dropdown-menu.dropdown-menu-right
                            li
                              a(href='#')
                                span.status-mark.position-left.bg-danger
                                |  Highest priority
                            li
                              a(href='#')
                                span.status-mark.position-left.bg-info
                                |  High priority
                            li.active
                              a(href='#')
                                span.status-mark.position-left.bg-primary
                                |  Normal priority
                            li
                              a(href='#')
                                span.status-mark.position-left.bg-success
                                |  Low priority
                        li
                          a(href='#') Eternity app
                .panel-footer.panel-footer-condensed
                  .heading-elements
                    span.heading-text
                      | Due: 
                      span.text-semibold 23 hours
                    ul.list-inline.list-inline-condensed.heading-text.pull-right
                      li.dropdown
                        a.text-default.dropdown-toggle(href='#', data-toggle='dropdown')
                          | Open 
                          span.caret
                        ul.dropdown-menu.dropdown-menu-right
                          li.active
                            a(href='#') Open
                          li
                            a(href='#') On hold
                          li
                            a(href='#') Resolved
                          li
                            a(href='#') Closed
                          li.divider
                          li
                            a(href='#') Dublicate
                          li
                            a(href='#') Invalid
                          li
                            a(href='#') Wontfix
                      li.dropdown
                        a.text-default.dropdown-toggle(href='#', data-toggle='dropdown')
                          i.icon-menu7
                          |  
                          span.caret
                        ul.dropdown-menu.dropdown-menu-right
                          li
                            a(href='#')
                              i.icon-alarm-add
                              |  Check in
                          li
                            a(href='#')
                              i.icon-attachment
                              |  Attach screenshot
                          li
                            a(href='#')
                              i.icon-rotate-ccw2
                              |  Reassign
                          li.divider
                          li
                            a(href='#')
                              i.icon-pencil7
                              |  Edit task
                          li
                            a(href='#')
                              i.icon-cross2
                              |  Remove
            .col-md-6
              .panel.border-left-lg.border-left-danger
                .panel-body
                  .row
                    .col-md-8
                      h6.no-margin-top
                        a(href='task_manager_detailed.html') #23. New icons set for an iOS app
                      p.mb-15 A collection of textile samples lay spread out on the table..
                      a(href='#')
                        img.img-circle.img-xs(src='assets/images/placeholder.jpg', alt='')
                      a(href='#')
                        img.img-circle.img-xs(src='assets/images/placeholder.jpg', alt='')
                      a.text-default(href='#')
                        i.icon-plus22
                    .col-md-4
                      ul.list.task-details
                        li 20 January, 2015
                        li.dropdown
                          | Priority: &nbsp; 
                          a.label.label-danger.dropdown-toggle(href='#', data-toggle='dropdown')
                            | Highest 
                            span.caret
                          ul.dropdown-menu.dropdown-menu-right
                            li.active
                              a(href='#')
                                span.status-mark.position-left.bg-danger
                                |  Highest priority
                            li
                              a(href='#')
                                span.status-mark.position-left.bg-info
                                |  High priority
                            li
                              a(href='#')
                                span.status-mark.position-left.bg-primary
                                |  Normal priority
                            li
                              a(href='#')
                                span.status-mark.position-left.bg-success
                                |  Low priority
                        li
                          a(href='#') Eternity app
                .panel-footer.panel-footer-condensed
                  .heading-elements
                    span.heading-text
                      | Due: 
                      span.text-semibold 18 hours
                    ul.list-inline.list-inline-condensed.heading-text.pull-right
                      li.dropdown
                        a.text-default.dropdown-toggle(href='#', data-toggle='dropdown')
                          | On hold 
                          span.caret
                        ul.dropdown-menu.dropdown-menu-right
                          li
                            a(href='#') Open
                          li.active
                            a(href='#') On hold
                          li
                            a(href='#') Resolved
                          li
                            a(href='#') Closed
                          li.divider
                          li
                            a(href='#') Dublicate
                          li
                            a(href='#') Invalid
                          li
                            a(href='#') Wontfix
                      li.dropdown
                        a.text-default.dropdown-toggle(href='#', data-toggle='dropdown')
                          i.icon-menu7
                          |  
                          span.caret
                        ul.dropdown-menu.dropdown-menu-right
                          li
                            a(href='#')
                              i.icon-alarm-add
                              |  Check in
                          li
                            a(href='#')
                              i.icon-attachment
                              |  Attach screenshot
                          li
                            a(href='#')
                              i.icon-rotate-ccw2
                              |  Reassign
                          li.divider
                          li
                            a(href='#')
                              i.icon-pencil7
                              |  Edit task
                          li
                            a(href='#')
                              i.icon-cross2
                              |  Remove
          .text-center.content-group.text-muted.content-divider
            span.pt-10.pb-10 Yesterday
          .row
            .col-md-6
              .panel.border-left-lg.border-left-success
                .panel-body
                  .row
                    .col-md-8
                      h6.no-margin-top
                        a(href='task_manager_detailed.html') #18. Help Web devs with HTML integration
                      p.mb-15 Samsa was a travelling salesman - and above it there hung..
                      a(href='#')
                        img.img-circle.img-xs(src='assets/images/placeholder.jpg', alt='')
                      a(href='#')
                        img.img-circle.img-xs(src='assets/images/placeholder.jpg', alt='')
                      a.text-default(href='#')
                        i.icon-plus22
                    .col-md-4
                      ul.list.task-details
                        li 18 November, 2014
                        li.dropdown
                          | Priority: &nbsp; 
                          a.label.label-success.dropdown-toggle(href='#', data-toggle='dropdown')
                            | Low 
                            span.caret
                          ul.dropdown-menu.dropdown-menu-right
                            li
                              a(href='#')
                                span.status-mark.position-left.bg-danger
                                |  Highest priority
                            li
                              a(href='#')
                                span.status-mark.position-left.bg-info
                                |  High priority
                            li
                              a(href='#')
                                span.status-mark.position-left.bg-primary
                                |  Normal priority
                            li.active
                              a(href='#')
                                span.status-mark.position-left.bg-success
                                |  Low priority
                        li
                          a(href='#') Corelius app
                .panel-footer.panel-footer-condensed
                  .heading-elements
                    span.heading-text
                      | Due: 
                      span.text-semibold 31 hours
                    ul.list-inline.list-inline-condensed.heading-text.pull-right
                      li.dropdown
                        a.text-default.dropdown-toggle(href='#', data-toggle='dropdown')
                          | Resolved 
                          span.caret
                        ul.dropdown-menu.dropdown-menu-right
                          li
                            a(href='#') Open
                          li
                            a(href='#') On hold
                          li.active
                            a(href='#') Resolved
                          li
                            a(href='#') Closed
                          li.divider
                          li
                            a(href='#') Dublicate
                          li
                            a(href='#') Invalid
                          li
                            a(href='#') Wontfix
                      li.dropdown
                        a.text-default.dropdown-toggle(href='#', data-toggle='dropdown')
                          i.icon-menu7
                          |  
                          span.caret
                        ul.dropdown-menu.dropdown-menu-right
                          li
                            a(href='#')
                              i.icon-alarm-add
                              |  Check in
                          li
                            a(href='#')
                              i.icon-attachment
                              |  Attach screenshot
                          li
                            a(href='#')
                              i.icon-rotate-ccw2
                              |  Reassign
                          li.divider
                          li
                            a(href='#')
                              i.icon-pencil7
                              |  Edit task
                          li
                            a(href='#')
                              i.icon-cross2
                              |  Remove
            .col-md-6
              .panel.border-left-lg.border-left-info
                .panel-body
                  .row
                    .col-md-8
                      h6.no-margin-top
                        a(href='task_manager_detailed.html') #17. Another icon set
                      p.mb-15 A wonderful serenity has taken possession of my entire soul..
                      a(href='#')
                        img.img-circle.img-xs(src='assets/images/placeholder.jpg', alt='')
                      a.text-default(href='#')
                        i.icon-plus22
                    .col-md-4
                      ul.list.task-details
                        li 12 November, 2014
                        li.dropdown
                          | Priority: &nbsp; 
                          a.label.label-info.dropdown-toggle(href='#', data-toggle='dropdown')
                            | High 
                            span.caret
                          ul.dropdown-menu.dropdown-menu-right
                            li
                              a(href='#')
                                span.status-mark.position-left.bg-danger
                                |  Highest priority
                            li.active
                              a(href='#')
                                span.status-mark.position-left.bg-info
                                |  High priority
                            li
                              a(href='#')
                                span.status-mark.position-left.bg-primary
                                |  Normal priority
                            li
                              a(href='#')
                                span.status-mark.position-left.bg-success
                                |  Low priority
                        li
                          a(href='#') Aquincum app
                .panel-footer.panel-footer-condensed
                  .heading-elements
                    span.heading-text
                      | Due: 
                      span.text-semibold 32 hours
                    ul.list-inline.list-inline-condensed.heading-text.pull-right
                      li.dropdown
                        a.text-default.dropdown-toggle(href='#', data-toggle='dropdown')
                          | Invalid 
                          span.caret
                        ul.dropdown-menu.dropdown-menu-right
                          li
                            a(href='#') Open
                          li
                            a(href='#') On hold
                          li
                            a(href='#') Resolved
                          li
                            a(href='#') Closed
                          li.divider
                          li
                            a(href='#') Dublicate
                          li.active
                            a(href='#') Invalid
                          li
                            a(href='#') Wontfix
                      li.dropdown
                        a.text-default.dropdown-toggle(href='#', data-toggle='dropdown')
                          i.icon-menu7
                          |  
                          span.caret
                        ul.dropdown-menu.dropdown-menu-right
                          li
                            a(href='#')
                              i.icon-alarm-add
                              |  Check in
                          li
                            a(href='#')
                              i.icon-attachment
                              |  Attach screenshot
                          li
                            a(href='#')
                              i.icon-rotate-ccw2
                              |  Reassign
                          li.divider
                          li
                            a(href='#')
                              i.icon-pencil7
                              |  Edit task
                          li
                            a(href='#')
                              i.icon-cross2
                              |  Remove
          .text-center.content-group.text-muted.content-divider
            span.pt-10.pb-10 Apr 21, 10:38 am
          .row
            .col-md-6
              .panel.border-left-lg.border-left-info
                .panel-body
                  .row
                    .col-md-8
                      h6.no-margin-top
                        a(href='task_manager_detailed.html') #8. Combine .js files in /app/js/
                      p.mb-15 Insects and flies, then I feel the presence of the Almighty..
                      a(href='#')
                        img.img-circle.img-xs(src='assets/images/placeholder.jpg', alt='')
                      a(href='#')
                        img.img-circle.img-xs(src='assets/images/placeholder.jpg', alt='')
                      a.text-default(href='#')
                        i.icon-plus22
                    .col-md-4
                      ul.list.task-details
                        li 9 August, 2014
                        li.dropdown
                          | Priority: &nbsp; 
                          a.label.label-info.dropdown-toggle(href='#', data-toggle='dropdown')
                            | High 
                            span.caret
                          ul.dropdown-menu.dropdown-menu-right
                            li
                              a(href='#')
                                span.status-mark.position-left.bg-danger
                                |  Highest priority
                            li.active
                              a(href='#')
                                span.status-mark.position-left.bg-info
                                |  High priority
                            li
                              a(href='#')
                                span.status-mark.position-left.bg-primary
                                |  Normal priority
                            li
                              a(href='#')
                                span.status-mark.position-left.bg-success
                                |  Low priority
                        li
                          a(href='#') Aquincum project
                .panel-footer.panel-footer-condensed
                  .heading-elements
                    span.heading-text
                      | Due: 
                      span.text-semibold 3 days
                    ul.list-inline.list-inline-condensed.heading-text.pull-right
                      li.dropdown
                        a.text-default.dropdown-toggle(href='#', data-toggle='dropdown')
                          | Resolved 
                          span.caret
                        ul.dropdown-menu.dropdown-menu-right
                          li
                            a(href='#') Open
                          li
                            a(href='#') On hold
                          li.active
                            a(href='#') Resolved
                          li
                            a(href='#') Closed
                          li.divider
                          li
                            a(href='#') Dublicate
                          li
                            a(href='#') Invalid
                          li
                            a(href='#') Wontfix
                      li.dropdown
                        a.text-default.dropdown-toggle(href='#', data-toggle='dropdown')
                          i.icon-menu7
                          |  
                          span.caret
                        ul.dropdown-menu.dropdown-menu-right
                          li
                            a(href='#')
                              i.icon-alarm-add
                              |  Check in
                          li
                            a(href='#')
                              i.icon-attachment
                              |  Attach screenshot
                          li
                            a(href='#')
                              i.icon-rotate-ccw2
                              |  Reassign
                          li.divider
                          li
                            a(href='#')
                              i.icon-pencil7
                              |  Edit task
                          li
                            a(href='#')
                              i.icon-cross2
                              |  Remove
            .col-md-6
              .panel.border-left-lg.border-left-primary
                .panel-body
                  .row
                    .col-md-8
                      h6.no-margin-top
                        a(href='task_manager_detailed.html') #7. Create application Photoshop draft
                      p.mb-15 Who formed us in his own image, and the breath of that universal..
                      a(href='#')
                        img.img-circle.img-xs(src='assets/images/placeholder.jpg', alt='')
                      a.text-default(href='#')
                        i.icon-plus22
                    .col-md-4
                      ul.list.task-details
                        li 2 August, 2014
                        li.dropdown
                          | Priority: &nbsp; 
                          a.label.label-primary.dropdown-toggle(href='#', data-toggle='dropdown')
                            | Normal 
                            span.caret
                          ul.dropdown-menu.dropdown-menu-right
                            li
                              a(href='#')
                                span.status-mark.position-left.bg-danger
                                |  Highest priority
                            li
                              a(href='#')
                                span.status-mark.position-left.bg-info
                                |  High priority
                            li.active
                              a(href='#')
                                span.status-mark.position-left.bg-primary
                                |  Normal priority
                            li
                              a(href='#')
                                span.status-mark.position-left.bg-success
                                |  Low priority
                        li
                          a(href='#') Dashboard
                .panel-footer.panel-footer-condensed
                  .heading-elements
                    span.heading-text
                      | Due: 
                      span.text-semibold 3 days
                    ul.list-inline.list-inline-condensed.heading-text.pull-right
                      li.dropdown
                        a.text-default.dropdown-toggle(href='#', data-toggle='dropdown')
                          | Invalid 
                          span.caret
                        ul.dropdown-menu.dropdown-menu-right
                          li
                            a(href='#') Open
                          li
                            a(href='#') On hold
                          li
                            a(href='#') Resolved
                          li
                            a(href='#') Closed
                          li.divider
                          li
                            a(href='#') Dublicate
                          li.active
                            a(href='#') Invalid
                          li
                            a(href='#') Wontfix
                      li.dropdown
                        a.text-default.dropdown-toggle(href='#', data-toggle='dropdown')
                          i.icon-menu7
                          |  
                          span.caret
                        ul.dropdown-menu.dropdown-menu-right
                          li
                            a(href='#')
                              i.icon-alarm-add
                              |  Check in
                          li
                            a(href='#')
                              i.icon-attachment
                              |  Attach screenshot
                          li
                            a(href='#')
                              i.icon-rotate-ccw2
                              |  Reassign
                          li.divider
                          li
                            a(href='#')
                              i.icon-pencil7
                              |  Edit task
                          li
                            a(href='#')
                              i.icon-cross2
                              |  Remove
          // /tasks grid
          // Pagination
          .text-center.content-group-lg.pt-20
            ul.pagination
              li.disabled
                a(href='#')
                  i.icon-arrow-small-left
              li.active
                a(href='#') 1
              li
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') 5
              li
                a(href='#')
                  i.icon-arrow-small-right
          // /pagination
       // /detached content
      // Footer
      .footer.text-muted
        | &copy; 2015. 
        a(href='#') Limitless Web App Kit
        |  by 
        a(href='http://themeforest.net/user/Kopyov', target='_blank') Eugene Kopyov
      // /footer
